header {
	align-items: center;
	background-color: white;
	display: flex;
	height: 6.4rem;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

main {
	margin-top: 6.4rem;
}

.header-title {
	font-size: 3.6rem;
}

header .nav-link {
	left: 0;
	position: absolute;
}

@media (min-width: 40.0rem) {
	header {
		visibility: hidden;
	}

	main {
		margin-top: 0;
	}
}