/* main */

main {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

main > .container {
	height: 100%;
}



/* banner and search input */

.banner {
	margin-bottom: 4.0rem;
	padding-top: 0;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	transition: all 0.5s;
}

.search-mode .banner {
	padding-top: 6.0rem;
	top: 0;
	transform: translateY(0);
}

.banner-title {
	bottom: 12.0rem;
	font-size: 6.0rem;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	text-align: center;
	transition: all 1.0s;
}

.search-mode .banner-title {
	opacity: 0;
	transition: all 0.3s;
}

input.search-input {
	background-color: white;
	display: block;
	margin: 0 auto;
	max-width: 48.0rem;
}

.tabs {
	display: flex;
	margin: 1.0rem auto 0 auto;
	max-width: 48.0rem;
	opacity: 0;
	transition: all 0.3s;
	visibility: hidden;
}

.search-mode .tabs {
	opacity: 1;
	transition: all 0.3s;
	visibility: visible;
}

.tab {
	border-bottom: 0.4rem solid transparent;
	color: #ccc;
	display: block;
	padding: 1.0rem;
}

.tab.active {
	border-bottom: 0.4rem solid #606c76;
	color: #606c76;
	font-weight: 700;
}


/* search results */

.error {
	margin: 0 auto;
	max-width: 48.0rem;
}

.search-results {
	margin: 0 auto;
	max-width: 48.0rem;
	opacity: 0;
	transition: all 0.2s;
	visibility: hidden;
}

.search-mode .search-results {
	opacity: 1;
	transition: all 0.2s;
	visibility: visible;
}

.search-mode .search-results.hidden {
	opacity: 0;
	visbility: hidden;
}

.search-results h1 {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	position: absolute;
	transform: translateX(calc(-100% - 4.0rem));
}

.term {
	background-color: white;
	border-radius: 0.3rem;
	color: #9b4dca;
	height: 2.8rem;
	line-height: 2.8rem;
	margin: 0 0.5rem;
	padding: 0 1.0rem;
	text-transform: none;
}

.terms-container {
	display: flex !important;
	flex-flow: row;
	list-style: none;
}

.alternatives:empty:before {
	content: 'none';
	font-style: italic;
}

.related-terms:empty:before {
	content: 'none';
	font-style: italic;
}

.common-uses:empty:before {
	content: 'unknown';
	font-style: italic;
	margin-left: -1.0rem;
}

.common-uses, .examples {
	margin-left: 1.0rem;
}

.specificity-container {
	margin-bottom: 2.5rem;
}

.specificity-category {
	display: inline;
}

.specificity-value {
	display: inline;
}
.specificity-value:not(:empty):before {
	content: '( ';
}
.specificity-value:not(:empty):after {
	content: ' )';
}

.specificity-value + .specificity-brief:before {
	content: '\2014  ';
}

.specificity-brief {
	display: inline;
}

.specificity-brief:empty:before {
	content: 'unknown';
	font-style: italic;
}

.examples:empty:before {
	content: 'none';
	font-style: italic;
	margin-left: -1.0rem;
}

.suggestion-link {
	display: block;
	margin: 3.0rem 0;
	text-align: center;
}