<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Name My Var</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="milligram.css">
	<link rel="stylesheet" href="common.css">
	<link rel="stylesheet" href="header.css">
	<link rel="stylesheet" href="nav.css">
	<link rel="stylesheet" href="index.css">
</head>
<body>
	{{> header}}
	{{> nav}}

	<main>
		<div class="banner-container">
			<div class="banner-title">Find suggestions</div>
			<form>
				<input type="text" class="banner-search">
			</form>
		</div>

		<div class="content-container">
			<div class="content-block">
				<a><i class="material-icons">lightbulb_outline</i></a>
				<a><div class="content-title">Naming Tips</div></a>
				<p>Cupcake ipsum dolor. Sit amet sugar plum carrot cake lemon drops cake. Tiramisu pie halvah apple pie. Carrot cake carrot cake wafer marshmallow jelly cheesecake.
</p>
			</div>
			<div class="content-block">
				<div class="content-icon"><i class="material-icons">code</i></div>
				<div class="content-title">Source Code</div>
				<p>Cupcake ipsum dolor sit amet tootsie roll sesame snaps sweet roll. Toffee chocolate bar halvah toffee gummies. Candy dessert soufflé brownie donut tootsie roll jelly beans.
</p>
			</div>
		</div>
	</main>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="header.js"></script>
	<script src="nav.js"></script>
</body>
</html>
