/* Banner */
.banner-container {
	background-color: #EEE;
	padding: 7.0rem 5.0rem 11.0rem 5.0rem;
}

.banner-container form {
	margin-bottom: 0;
}

.banner-title {
	font-size: 6.0rem;
	margin-bottom: 4.0rem;
	text-align: center;
}

input.banner-search {
	background-color: white;
	display: block;
	margin: 0 auto;
	width: 48.0rem;
}

/* Content */
.content-container {
	padding: 7.0rem 5.0rem 11.0rem 5.0rem;
}

.content-block {
	margin: 2.4rem 8.0rem;
}

.content-block .content-icon {
	float: left;
}

.content-block i.material-icons {
	font-size: 8.0rem;
	padding: 2.0rem;
	border: 3px solid #9b4dca;
	border-radius: 8.0rem;
}

.content-block .content-right {
	margin-left: 18.0rem;
}

.content-block .content-title {
	font-size: 4.0rem;
}

.content-block p {

}
